.holla
{
    color: aquamarine;
    font-style: italic;
    background-color: blue;
}
body
{
    background-color: black;
    color: white;
}
#Gaby
{
    color: blanchedalmond;
}
#reminder
{
    color: rgb(128, 86, 31);
    font-style: oblique;
}
.r
{
   width: 190px;
   height: 200px;
}